{%  include 'header.html' %}

{% load static %}
	
	<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
				
				</div>

				<div style="background-color: grey; padding:25px; border-radius: 15px;" class="col-sm-5 col-sm-offset-1">
					<div class="login-form"><!--login form-->
						<a style="margin-left:100px;" href="index.html"><img src="{% static 'images/home/logo.png' %}" alt="" /></a>

						<h2 style="margin-left:100px; color:black;">Login to your account</h2>
						{% for msg in messages %}
							<p style="color: red; margin-left:100px;"> {{ msg }}</p>
							
							{% endfor %}
						<form action="/login_data/" method="POST">
							 {% csrf_token %} 
							 <label>Email.</label>
							<input type="email" placeholder="Enter Email" name="email" />
							<label>Password.</label>
							<input type="password" placeholder="Enter Password"  name="password"/>
							<span>
								
							<button type="submit" class="btn btn-default form-control">Login</button>
						</form>
					</div><!--/login form-->	
					<br>
					<span>Don't have a Accout..? </span><a style="color:white;" href="/Register">
						<u>Register Now</u>
						</a>
					</span>
				</div>
			
				<div class="col-sm-4">
				
				</div>
			</div>
		</div>
	</section><!--/form-->
	
	{% include 'footer.html' %}