{%  include 'header.html' %}

{% load static %}
	
	<section id="form"><!--form-->
		<div class="container">
			<div class="row">
				<div class="col-sm-3 col-sm-offset-1">
				
				</div>
				
				<div class="col-sm-5">
					<div style="background-color: grey; padding:25px; border-radius: 15px;" class="signup-form">
                        <a style="margin-left:100px;" href="index.html"><img src="{% static 'images/home/logo.png' %}" alt="" /></a>

						<h2 style="margin-left:100px; color:black;">New User Signup!</h2>
						
							{% for msg in messages %}
							<p style="color: red;"> {{ msg }}</p>
							{% endfor %}
					
						<form  method="POST" action="/user_data/">

							{% csrf_token %}
							<div class="row">
								<div class="col-md-6">
                            <label>Firstname</label>
							<input type="text" name="firstname" placeholder="First name" required />
							</div>
							<div class="col-md-6">
                            <label>Lastname</label>
							<input type="text" name="lastname" placeholder="Last name" required />
							</div>
</div>
</
                            <label>Email</label>
							<input type="email" name="email"  placeholder="Email Address" required />
                            <label>Mobile Number</label>
							<input type="number" name="mobile" placeholder="Mobile Number" required />
							
							<div class="row">
								<div class="col-md-6">
                            <label>Password</label>
							<input type="password" name="password1" placeholder="Password" required />
							</div>
							<div class="col-md-6">
                            <label>Confirm Password</label>
							<input type="password" name="password2" placeholder="Conform Password" required />
							</div>
							</div>
                            <label></label>
							<button type="submit" class="btn btn-info form-control">Signup</button>
						</form>
					</div><!--/sign up form-->
				</div>

                <div class="col-sm-4 col-sm-offset-1">
				
				</div>
			</div>
		</div>
	</section><!--/form-->
	
	{% include 'footer.html' %}